{% extends "base_accounts.html" %}

{% block title %}Resetea tu contraseña{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Resetea tu contraseña</h3>
          <p>Comprueba la bandeja de entrada de tu email para resetear tu contraseña. Si no aparece en pocos minutos, por favor, comprueba la bandeja de spam.</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Volver a inicio de sesión</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
