Buenos días,

Alguien ha solicitado resetear la contraseña para la cuenta con correo electrónico {{ email }}.

Sigue el siguiente link para resetear la contraseña:
{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}

Por si lo habías olvidado tu nombre de usuario es: {{ user.username }}

Si al hacer click en el enlace no funciona, por favor copia y pega la URL en una ventana nueva del navegador.

Si no has sido tú quien ha solicitado el cambio de contraseña puedes ignorar este mensaje.

Muchas gracias,

El equipo de Django Team
